@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: light;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(4px); /* Blurs everything behind it */
}
